@import "../../src/scss/variables.scss";
@import "../../src/scss/breakpoints.scss";

.footer {
  padding: 80px 0px 80px 0px;
  @include bp-tablet-sm {
    padding: 60px 0px 60px 0px;
  }
  background: $footer-grey;
  h6 {
    color: $gold;
    font-weight: bold;
    text-transform: uppercase;
  }
  ul {
    list-style: none;
    margin-left: -40px;
  }
  .infused {
    p {
      font-size: 14px;
      @include bp-tablet-sm {
        margin-bottom: 0 !important;
      }
    }
  }
  #phone {
    color: $white;
  }
  .loc {
    @include bp-tablet-sm {
      margin-top: 24px;
    }
  }
}
