@import "../../../src/scss/variables.scss";
@import "../../../src/scss/breakpoints.scss";

#intro {
  background: $dark-grey;
  padding: 120px 0px 120px 0px;
  @include bp-tablet-sm {
    padding: 60px 0px 60px 0px;
  }
  img {
    margin-bottom: 15px;
  }
  h4 {
    color: $white;
  }
  hr {
    border-bottom: 1px solid $gold;
    width: 80px;
  }
  p {
    width: 75%;
    margin: auto;
  }
}
