@import "../scss/breakpoints.scss";
@import "../scss/variables.scss";

.menu {
  button {
    @include bp-tablet-sm {
      margin-bottom: 20px;
    }
  }
  h2 {
    &.menu-title {
      border: 3px solid $gold;
      padding: 20px;
    }
  }
}
