@import "../scss/breakpoints.scss";

$black: #000;
$dark-grey: #2a2828;
$very-dark-grey: #0c0c0c;
$footer-grey: #3f3c3c;
$gold: #ad9e7d;
$white: #fff;
$raleway: "Raleway", sans-serif;
$marck: "Marck Script", cursive;
$green: #0bad30;
